/**
 * @name jibli
 * @author pangolin#3740
 * @version 1.0.1
 * @description Discord Theme for Jhanvi
 * @source https://github.com/nuclearflame11/QMCSS
 * @invite obama
 * @website https://github.com/nuclearflame11/QMCSS
*/

@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://nyri4.github.io/Discolored/main.css');

:root {
  --background-image: url('https://i.imgur.com/cfNZo4W.png');
  --background-image-blur: 3px;
  --background-image-size: auto;
  --background-image-position: center;
  --popout-modal-image: url('https://i.imgur.com/nBP00Sw.jpg');
  --popout-modal-blur: 30px;
  --popout-modal-size: contain;
  --popout-modal-position: center;
  --home-button-image: url('https://i.imgur.com/urtuNuX.gif');
  --home-button-size: contain;
  --home-button-position: center;
  --serverlist-brightness: 0.54;
  --left-brightness: 0.8;
  --middle-brightness: 0.8;
  --right-brightness: 0;
  --popout-modal-brightness: 0.78;
  --gradient-primary: 140,20,231;
  --gradient-secondary: 41,45,115;
  --link-colour: #8DB344;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --gradient-direction: 320deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --font: Whitney;
  --window-padding: 0px;
  --window-roundness: 5px;
  --update-notice-1: none;
}

/* Any custom CSS below here */


